snippet import "Import from module"
import {${2}} from '${1}'
endsnippet

snippet if "if statement" 
if (${1}){
	${2}
}
endsnippet

snippet ifelse "if else statement" 
if (${1}){
	${2}
} else {
	${3://Code here}
}
endsnippet
