snippet --- "Dash line" 
----------------------------------------------------------------------------------
endsnippet

snippet %%[ "Ampscript codeBlock" 
%%[
${1}
]%%${0}
endsnippet

snippet %%= "Ampscript inlineBlock" 
%%= ${1} =%%${0}
endsnippet
