snippet ifmain "If name is main"
if __name__ == '__main__':
	${1:main()}
endsnippet

snippet for "for each loop"
for ${2:variable} in ${1:Iterator}:
	${3:pass}
endsnippet

snippet def "Declare new function"
def ${1:function_name}(${2:args}) -> ${3:Return_type}:
	${4:pass}
endsnippet
