extends javascript

snippet script "setup script vue composition"
<script setup>
	${0}
</script>
endsnippet

snippet vuesetupcomsition "Vue composition with setup script"
<script setup>
	${0}
</script>

<template>
	${1}
</template>

<style>
${2}
</style>
endsnippet
