extends javascript

snippet script "setup script vue composition"
<script setup lang="${1:ts}">
	${2}
</script>
endsnippet

snippet vuesetupcomsition "Vue composition with setup script"
<script setup lang="${1:ts}">
	${2}
</script>

<template>
	${3}
</template>

<style>
${3}
</style>
endsnippet

snippet <Tag "Tag" !b
<${1:Tag} ${2:attrs}>
	${VISUAL}${0}
</$1>
endsnippet
